:root {
  --primary: #0f0e17;
  --secondary: #2E2F3E;
  --teriary: #E53170;
  --btn: #FF8906;
  --white: #FFFFFE;
  --paragraph: #A7A9BE ;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
}

/* scrolbar */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 100rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--paragraph);
}
/* base style in css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
::selection {
  color: var(--secondary);
  background: var(--text);
}

body {
  font-size: var(--font-size-sm);
  letter-spacing: 1px;
  color: var(--primary);
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}
img {
  border-radius: 6px;
  max-height: 100%;
  display: block;
}
ul {
  list-style: none;
}
input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}
i {
  font-size: var(--font-size-md);
}

.btn {
  color: var(--white);
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  background-color: var(--btn);
}
.c130{
  max-width: 130rem;
  margin: 0 auto;
}
.c120 {
  max-width: 120rem;
  margin: 0 auto;
}

/* header */
.navbar {
  display: flex;
  align-items: center;
  height: 8rem;
}
.navbar__list {
  display: flex;
  width: 100%;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20rem;
}
.logo svg {
  width: calc(100% - 20%);
  height: 4rem;
}
.section__list ul {
  display: flex;
}
.section__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3rem;
}
.select,
#services-item {
  font-size: var(--font-size-sm);
}
.select:hover {
  color: var(--btn);
}
/* header */



.banner {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.banner__content {
  display: flex;
  width: 100%;
  height: 50rem;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
.banner-content__right img {
  object-fit: cover;
  object-position: center;
  width: 40.2rem;
  height: 30rem;
  border: solid var(--white) 4px;
}
.banner__context {
  max-width: 70rem;
  padding-bottom: 56px;
}
.banner__title {
  font-size: var(--font-size-xl);
  color: var(--white);
  padding-bottom: 23px;
}
.banner__subtitle {
  font-size: var(--font-size-md);
  color: var(--paragraph);
}
.banner__image {
  width: 130rem;
  height: 50rem;
}
.banner__image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: top;
  z-index: 1;
}
.layerBlur {
  position: absolute;
  width: 130rem;
  height: 50rem;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 2;
}

.shop {
  padding-top: 86px;
}
.shop__header {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: var(--font-size-lg);
}
.shop__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  padding-top: 16px;
}
figure {
  display: block;
  width: 287px;
  height: 335px;
}
.link-figure {
  display: grid;
  justify-content: center;
  width: 287px;
  align-items: end;
}
.figure__context {
  display: flex;
  width: 287px;
  justify-content: space-around;
  position: absolute;
  padding-bottom: 15px;
  align-items: flex-end;
  z-index: 2;
}
.figure__context::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 68px;
  opacity: 0.9;
  bottom: 0;
  background-color: var(--white);
  z-index: -1;
}
.figure__title {
  font-size: var(--font-size-sm);
  color: var(--primary);
  width: 150px;
}
.figure__price {
  color: var(--teriary);
  font-size: var(--font-size-md);
}
.figure__price span {
  color: var(--teriary);
  font-size: var(--font-size-sm);
  padding-right: 5px;
}
.figure__view  img {
  max-width: 287px;
  height: 335px;
  object-fit: cover;
}

.post {
  padding-top: 70px;
}
.post__banner img {
  width: 130rem;
  max-height: 50rem;
  object-fit: cover;
  object-position: top;
  margin: 0 auto;
}