:root {
  --primary: #0f0e17;
  --secondary: #ff8906;
  --teriary: #e53170;
  --paragraph: #a7a9be;
  --text: #fffffe;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
}
/* scrolbar */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 100rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--paragraph);
}
/* base style in css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
::selection {
  color: var(--secondary);
  background: var(--text);
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}

body {
  font-size: var(--font-size-sm);
  letter-spacing: 1px;
  background-color: var(--primary);
  color: var(--text);
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
a,
img,
span {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  border-radius: 8px;
  max-height: 100%;
  display: block;
}
ul {
  list-style: none;
}
input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}
i {
  font-size: var(--font-size-md);
}
/* boostrap by yin */